<%- include("partials/header") -%>

<section>
    this is todo <%= user %>
    <a href="/compose">compose</a>
        


    <% notes.forEach(obj=>{ %>
      <%  let arr = JSON.parse(obj); %>
        <p><%= arr.title %></p> 
        <p><%= arr.content %></p>
       <% }); %>
        
      
     <a href="/logout">log out</a>
</section>

<%- include("partials/footer") -%>
