<%- include("partials/header") -%>

<section>
    this is todo <%= user %>
    <a href="/compose">compose</a>
        


    <div class="note">
      <button class="delete">delete</button>
      <% notes.forEach(obj=>{ %>
        <%  let arr = JSON.parse(obj); %>
          <p><%= arr.title %></p>
          <p><%= arr.content %></p>
         <% }); %>
    </div>
        
      
     <a href="/logout">log out</a>
</section>

<%- include("partials/footer") -%>
