<%- include("partials/header") -%>

<!-- <section>
    this is todo <%= user %> -->
    <!-- <a href="/compose">compose</a>
        


    <div class="note"> -->
      <!-- <button class="delete">delete</button> -->
      <!-- <% notes.forEach(obj=>{ %>
        <%  let arr = JSON.parse(obj); %>
          <p><%= arr.title %></p>
          <p><%= arr.content %></p>
         <% }); %> -->
    <!-- </div>
        
      
     <a href="/logout">log out</a>
</section> -->


<section class="w-screen text-lg h-screen duration-200">

  <div class="flex h-[10%]   px-10 items-center justify-between   bg-gray-500 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100 ">

    <div class="flex">
      <p>hi <span class="font-semibold"><%= user %>,</span> what would you like to record today?</p>
    </div>

    <div>
      <a class="p-4 bg-blue-500 rounded-lg hover:bg-blue-600 text-white mx-5" href="/compose">compose</a>
      <a class="p-4 bg-red-500 hover:bg-red-600 rounded-lg" href="/logout">log out</a>
    </div>

  </div>

  <div class="h-[60%]  mt-5">
    <div class="grid justify-center  place-items-center items-start lg:grid-cols-4 gap-1">
      <!-- <button class="delete">delete</button> -->
      <% notes.forEach(obj=>{ %>
        <%  let arr = JSON.parse(obj); %>
          <div class=" w-[400px] h-[350px] mb-4 group rounded-lg p-3 duration-200 hover:bg-slate-300 bg-slate-200">
            <p class="font-semibold py-2 border-b-2 border-gray-500 group-hover:border-gray-900"><%= arr.title %></p>

            <!-- <%let content =  arr.content; %> -->

            <!-- <%function truncateString(content) { %>
              <%if (content.length > 100) { %>
                <% return content.substring(0, 100) + "..." %>
                <%} else { return content;  } %>
                  <%}%>

                  <%let y = truncateString(content);%> -->
            <p class="text-base"><%= arr.content %> </p>
           
          </div>
         <% }); %>
    </div>
  </div>
 
  
</section>


<!-- if(content>100){
  document.querySelector(this)
} -->


<%- include("partials/footer") -%>
