<%- include("partials/header") -%>

<section>
    this is todo <%= user %>
    <a href="/compose">compose</a>
        
       <!-- <p>this is a list of the notes=><%= notes %></p> -->
      <p><%=notes%></p>
     
</section>

<%- include("partials/footer") -%>
